// -------------------------------------
//      Helpers
//      Placeholders, Extends, Functions, Mixins, Keyframe Animations
// -------------------------------------




/*
@mixin l-container-map($container-columns, $container-width, $container-grid) {
	columns: $container-columns,
	gutters: 1/4, //$gutter-ratio, 
	gutter-position: split, //$gutter-position,
	container: $container-width,
	math: fluid,
	debug: (
    	image: $container-grid,
    ),
	global-box-sizing: border-box,
}*/

	