// -------------------------------------
//      Helpers
//      Placeholders, Extends, Functions, Mixins, Keyframe Animations
// -------------------------------------

%margin-zero {
	margin: 0;
}

%margin-side-zero {
	margin-left: 0;
	margin-right: 0;
}

%margin-topbottom-base {
	@include leader(1, $base-font-size);
    @include trailer(1, $base-font-size);
}


%img-centered {
	position: relative;
	top: -50%;
	margin-top: -25%;
}

%img-bg-scrolling {
	height: 100%;
	background-attachment:fixed;
}

%block-1234-allwidth {
	margin-left: -$l-padding-small;
	margin-right: -$l-padding-small;
	@include breakpoint($l-break-small2) {
		margin-left: -$l-padding-small2;
		margin-right: -$l-padding-small2;
	}
	@include breakpoint($l-break-medium) {
		margin-left: -$l-padding-medium;
		margin-right: -$l-padding-medium;
	} 
	@include breakpoint($l-break-large) {
		margin-left: -$l-padding-large;
		margin-right: -$l-padding-large;
	}
	@include breakpoint($l-break-xlarge) {
		margin-left: -$l-padding-xlarge;
		margin-right: -$l-padding-xlarge;	
	}
}

%block-1234-centered {
	@include breakpoint($l-break-medium) {
		@include squish(1 1 of $l-medium-columns);
	} 
	@include breakpoint($l-break-large) {
		@include squish(2 2 of $l-large-columns);
	}
	@include breakpoint($l-break-xlarge) {
		@include squish(3 3 of $l-xlarge-columns);
	}
}

%block-1a-full {
	// necessary? is default..
}

%block-1b-half {
	
}

/*
@mixin l-container-map($container-columns, $container-width, $container-grid) {
	columns: $container-columns,
	gutters: 1/4, //$gutter-ratio, 
	gutter-position: split, //$gutter-position,
	container: $container-width,
	math: fluid,
	debug: (
    	image: $container-grid,
    ),
	global-box-sizing: border-box,
}*/

	